* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: gold;
    width: 500px;
    border-radius: 10px;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.data {
    display: inline-block;
    text-align: center;
}

span {
    font-size: 25px;
    display: block;
    margin-bottom: 10px;
}

input {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 10px black;
    font-size: 20px;
    padding-left: 10px;
}

button {
    width: 40%;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    background-color: silver;
    border-radius: 5px;
}

.value {
    margin-top: 10px;
    font-size: 20px;
}